<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01_Lesson_GeekBrains_DZ.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>524937CD1D8EEB380049B9F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>524937E61D8EEB390049B9F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>524937F11D8EEB390049B9F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
